@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Albert Sans', sans-serif;
}
.principal {
    /* Fija el fondo */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 55%, rgba(248, 159, 59, 0.4)) fixed;
    height: 100vh; /* Asegura que ocupe toda la ventana */

}
.secundary {
    /* Fija el fondo */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(248, 159, 59, 0.4)) fixed;
    height: 100vh; /* Asegura que ocupe toda la ventana */

    margin: 0; /* Elimina márgenes por defecto */
    padding: 0; /* Elimina padding por defecto */
}

.container-page {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 150px 1fr;
}

header {
    grid-column-start: 2;
    grid-column-end: 3;
}

aside {
    background-color: #2E4654;
    grid-row-start: 1;
    grid-row-end: 3;
}
.header {
    font-family: 'Albert Sans', sans-serif;
    color: #829098;
}

.sidebar__item {
    width: 70px;
    height: auto;
}

.header__bienvenido{
    font-weight: 700;
    font-size: 64px;
    line-height: 76.8px;
    text-shadow: 0px 4px 4.4px rgba(0, 0, 0, 0.4);
}

.header__pregunta {
    font-weight: 300;
    font-size: 36px;
    line-height: 43.2px;
}

.items {
    color: rgba(95, 123, 125, 1);
    backdrop-filter: blur(4px);
    font-size: 32px;
    font-weight: 500;
    line-height: 38.4px;
    text-wrap: balance;
    text-shadow: 0px 4px 4.4px rgba(0, 0, 0, 0.4);
    color: #829098;
}

.items article {
    flex: 1;
}


#cbx-clientes {
    border:  none;
    appearance: none;
    background-image: url("../Iconos/FlechaSelect.svg");
    background-repeat: no-repeat;
    background-position: 95%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    border: 1px solid rgba(155, 155, 155, 0.55);
    color: rgba(155, 155, 155, 0.55);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 260px;

}

select::-ms-expand {
    display: none;
}

.filtro {
    background: rgba(255, 255, 255, 1);
    width: calc(100% - 6rem);
    margin: 0 auto;
}

select:focus {

    color:  #2E4654;
    outline: 0;
}

.btn-search-clients {
    background: rgba(39, 174, 185, 1);
}

.pl-3 {
    padding-left: 3rem;
}

.imagen-pantalla-informes {
    display: inline;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
table tr th, table tr  td{
    border-bottom: 1px solid rgba(95, 123, 125, 1);
    overflow: hidden;

}

main {
    box-sizing: border-box;
    overflow: hidden;
}


.registrar__pagos, .historico__pagos, .planes__pagos {
    width: 280px;
    height: 105px;
    border-radius: 20px;
    background: rgba(104, 225, 253, 1);
    box-shadow: -2px 8px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 25px;
    text-align: center;
    color: rgba(95, 123, 125, 1);
}


.activado-historico-pagos, .activado-planes-pagos, .activado-registrar-pagos {
    width: 280px;
    height: 105px;
    border-radius: 20px;
    box-shadow: -2px 8px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(200, 194, 188, 1);
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;

}

.activado-historico-pagos img, .activado-planes-pagos img, .activado-registrar-pagos img{
    padding-left: 15px;
}

.registrar__pagos img, .historico__pagos img, .planes__pagos img {
    padding-left: 15px;
}

.header-pagos {
    margin-left: 200px;
    margin-right: 200px;
}
.form-registrar-pagos {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    margin-left: 100px;
    margin-right: 100px;
    background: white;
    box-shadow: 5px 11px 4.6px 0px rgba(0, 0, 0, 0.25);

}



.form-group-registrar-pagos {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-items: end;
    justify-content: center;
    align-content: end;
    margin-right: 50px;
}

.form__input  {
    display: flex;
    text-align: end;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.form__input input {
    height: 30px;
    width: 140px;
    align-content: center;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.label {
    width: 45%;
    text-align: center;
    font-weight: 500;
    line-height: 30px;
}

.btn-registrar-pagos {
    border: none;
    outline: 0;
    width: 350px;
    height: 70px;
    background: rgba(39, 174, 185, 1);
    color: white;
    text-transform: uppercase;
    font-size: 30px;
}

#input-clientes, .cliente-input-form {
    outline: 0;
    width: 230px;
    border: 1px solid rgba(155, 155, 155, 0.55);
    color: rgba(155, 155, 155, 0.55);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.cliente-input-form-direction {
    outline: 0;
    width: 650px;
    border: 1px solid rgba(155, 155, 155, 0.55);
    color: rgba(155, 155, 155, 0.55);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.btn-nuevo-cliente {
    outline: none;
    border: none;
    width: 195px;
    height: 57px;
    background: rgba(248, 159, 59, 1);
    border-radius: 15px;
    margin-right: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.label-clientes {
    display: flex;
    width: 140px;
    font-weight: 500;
    font-size: 20px;
}

.label-clientes-direction {
    width: 140px;
    font-weight: 500;
    font-size: 20px;
}

.table-clients {
    height: 100%;
    width: 100%;
}
.table-servicios {
    height: 100%;
    width: 100%;
}

.table-historico-pagos {
    height: 100%;
    width: 100%;
}

#cbx-servicios {
    width: 276px;

    appearance: none;
    background-image: url("../Iconos/FlechaSelect.svg");
    background-repeat: no-repeat;
    background-position: 95%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    border: 1px solid rgba(155, 155, 155, 0.55);
    color: rgba(155, 155, 155, 0.55);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.resultado_busqueda{
    display: flex;
    flex-wrap: nowrap;
    font-weight: bold;
}

.resultado_busqueda p{
    white-space: nowrap;
}

p {
    margin: 0 !important;
    padding: 0;
}

.response_search {

    width: 200px;
    border-bottom: 1px solid black;
}

.cuotas {
    width: 80px;
}

.interes {
    width: 80px;
}

.crud-clientes {
    height: 40%;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 5px 11px 4.6px 0px rgba(0, 0, 0, 0.25);
    width: calc(100% - 6rem);
    margin: 0 auto;

}
.filtro-registrar-pagos {
    margin-left: 100px;
    margin-right: 100px;
}

.informe-clientes-table, .servicios-clientes-table{
    height: 70%;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 5px 11px 4.6px 0px rgba(0, 0, 0, 0.25);
    width: calc(100% - 6rem);
    margin: 0 auto;
}


.historico-clientes-table {
    height: 60%;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 5px 11px 4.6px 0px rgba(0, 0, 0, 0.25);
    width: calc(100% - 6rem);
    margin: 0 auto;
}

.planes-clientes-table {
    height: 40%;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 5px 11px 4.6px 0px rgba(0, 0, 0, 0.25);
    width: calc(100% - 6rem);
    margin: 0 auto;
}

.actions {
    text-decoration: none;
    color: rgba(95, 123, 125, 1);
}