@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Albert Sans', sans-serif;
}
body {
    height: 100vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(248, 159, 59, 0.4)) fixed;
}

form {
    width: 350px;
    height: 550px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 8px;
    background: linear-gradient(to top, rgba(248, 200, 200, 0.4), rgba(248, 159, 59, 0.4)) fixed;
}

.inicio-sesion{
    font-size: 24px;
    color: #2E4654;
    font-weight: 200;
}
label {
    color: #2E4654;
    font-weight: 200
}

input {
    all: unset;
    padding: 7px;
    border: none;
    background: linear-gradient(to bottom, transparent, rgba(248, 159, 59, 0.3)) ;
    border-radius: 10px;
    border-bottom: 2px solid transparent;
    transition: border-bottom .4s ease;

}

input:focus {
    border-bottom: 2px solid #253641;
}

.btn-login{
    text-align: center;
}
button {
    background: #2E4654;
    border: none;
    outline: 0;
    width: 200px;
   transition-property: background, scale;
    transition-duration: .3s;
    transition-timing-function: ease;
}

button:hover{
    background: #1d6291;
    scale: 1.03;
}

button:focus {
    background: #253641;
    scale: 1;

}

